body {
  background-image: linear-gradient(to right, #f3b07c, #fcd283);
}

/* .weather_container {
  box-shadow: -2rem -0.8rem 3rem -2rem;
  border-radius: 1rem;
  background-image: linear-gradient(to top, #f3b07c, #fcd283);
} */
