@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

body {
  width: 100%;
}

.weather_container {
  box-shadow: -1rem -0.8rem 3rem -2rem;
  border-radius: 1rem;
  padding: 20px;
  min-height: 34rem;
}
